---
const LOGOS = [
  "java.svg",
  "mysql.svg",
  "oracle.svg",
  "python.svg",
  "php.svg",
  "html5.svg",
  "css3.svg",
  "androidstudio.svg",
  "blender.svg",
  "git.svg",
  "github.svg",
];
---

<div class="overflow-hidden whitespace-nowrap group mt-20 py-12">
  <div
    class="flex justify-center items-center animate-loop-scroll group-hover:paused gap-16"
  >
    {
      LOGOS.map((logo) => (
        <img
          src={`https://cdn.simpleicons.org/${logo.split(".")[0]}/white`}
          alt={logo.split(".")[0]}
          class="h-10 w-auto"
        />
      ))
    }
    {
      LOGOS.map((logo) => (
        <img
          src={`https://cdn.simpleicons.org/${logo.split(".")[0]}/white`}
          alt={logo.split(".")[0]}
          class="h-10 w-auto"
        />
      ))
    }
  </div>
</div>

<style>
  .animate-loop-scroll {
    width: calc(2 * (11 * (2.5rem + 4rem)));
    animation: loop-scroll 40s linear infinite;
  }

  @keyframes loop-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>